# Dependencies
node_modules/

# Build output
build/
dist/

# Environment
.env
.env.*
.env.local
.env.development
.env.production

# IDE
.vscode/
.idea/

# Test & Coverage
coverage/
.nyc_output/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

